<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus Tracker App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>CoronaVirus Tracker Application </h1>
    <p>This Application lists the current number of cases reported across the globe </p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total Cases Number Today </p>
        <hr class="my-4">
        <p>
            <span>New Cases Reported Since previous Day</span>
            <span th:text="${totalPreviousCases}"></span>
        </p>

    </div>


    <table class=" table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>TotalCases</th>
            <th>Changes Since Last Day</th>
        </tr>
        <tr th:each="locationState : ${locationStats}">
            <td th:text="${locationState.state}"></td>
            <td th:text="${locationState.country}"></td>
            <td th:text="${locationState.totalCases}">0</td>
            <td th:text="${locationState.previousCases}">0</td>
        </tr>
    </table>

</div>

</body>

</html>